<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>

<% unless @product.tags.empty? %>
    <p>
        Tags:
        <% @product.tags.each do |tag| %>
            <%= link_to(
                tag.name, products_path(tag: tag.name),
                class: 'badge badge-pill badge-primary'
            ) %>
        <% end %>
    </p>
<% end %>

<h4>Created by: <%= @product.user&.full_name || 'DELETED'%></h4>
<p><%= @product.created_at %></p>

<% if can?(:crud,@product)%>
<%= link_to "Edit", edit_product_path(@product)%>
<%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %> 

<% if user_signed_in? && can?(:favorite, @product) %>
    <% if @favorite.present? %>
        <%= link_to 'Un Fav', favorite_path(@favorite), method: :delete %>
    <% else %>
        <%= link_to 'Fav', product_favorites_path(@product), method: :post %>
    <% end %>
<% end %>

<%= render 'reviews/form'%>

<% @product.reviews.each do |review| %>

<%= review.body %>
<%= review.rating %>
<small><%= time_ago_in_words(review.created_at)%></small>
<small> Reviewed by: <%= review.user&.full_name || 'DELETED' %></small>

<small>Liked by: <%= review.likes.count %></small>
<small>
<% if user_signed_in? && can?(:like, review) %>
<% like = current_user.likes.find_by_review_id(review) %>
    <% if like %>
        <%= link_to 'Unlike', like_path(like), method: :delete %>
        <% else %>
        <%= link_to 'Like', review_likes_path(review), method: :post %>
    <% end %>
<% end %>
</small>

<% vote = review.votes.find_by(user: current_user) %>
    <span class="vote-widget">
        <% if vote.nil? %>
          <%= link_to 'vote up', review_votes_path(review, is_up: true), method: :post %>
          <%= review.vote_total %>
          <%= link_to 'vote down', review_votes_path(review, is_up: false), method: :post %>
        <% elsif vote.is_up? %>
          <%= link_to 'vote up', vote_path(vote), method: :delete, class: 'active' %>
          <%= review.vote_total %>
          <%= link_to 'vote down', vote_path(vote, is_up: false), method: :patch %>
        <% else %>
          <%= link_to 'vote up', vote_path(vote, is_up: true), method: :patch %>
          <%= review.vote_total %>
          <%= link_to 'vote down', vote_path(vote), method: :delete %>
        <% end %>
    </span>
(Total Votes:<%= review.vote_total %>)

<% if can? :crud, review %>
<%= link_to("Delete Review", review_path(@product, review), method: :delete, data:{confirm: 'Are you sure?'})%>
<% end %>
<hr>

<% end %>