<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p>$<%= @product.price %></p>
<h4>Created by: <%= @product.user&.full_name || 'DELETED'%></h4>
<p><%= @product.created_at %></p>

<% if can?(:crud,@product)%>
<%= link_to "Edit", edit_product_path(@product)%>
<%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %> 

<%= render 'reviews/form'%>

<% @product.reviews.each do |review| %>

<%= review.body %>
<%= review.rating %>
<small><%= time_ago_in_words(review.created_at)%></small>
<small> Reviewed by: <%= review.user&.full_name || 'DELETED' %></small>

<small>Liked by: <%= review.likes.count %></small>
<small>
<% if user_signed_in? && can?(:like, review) %>
<% like = current_user.likes.find_by_review_id(review) %>
    <% if like %>
        <%= link_to 'Unlike', like_path(like), method: :delete %>
        <% else %>
        <%= link_to 'Like', review_likes_path(review), method: :post %>
    <% end %>
<% end %>
</small>

<% if can? :crud, review %>
<%= link_to("Delete Review", review_path(@product, review), method: :delete, data:{confirm: 'Are you sure?'})%>
<% end %>
<hr>

<% end %>