<%= form_with(model:[@product, @review], local:true) do |f| %>

<% if @review.errors.full_messages.each do |msg| %>
<ul>
    <li> <%= msg %></li>
</ul>
    <% end %>
<% end %>

<br>
<p>Leave a review!</p>
<div>
    <%= f.select(:rating, options_for_select(1..5))%>
</div>
<div>
    <%= f.text_area(:body, cols: 50, rows:5, placeholder: 'What is your review?') %>
</div>

    <%= f.submit %>
<% end %>